.app {
  width: 300px;
  height: 400px;
  padding: 12px;
  background-color: #ededed;
  border-radius: 5px;
  box-shadow: 4px 4px 12px #c9c9c9,
  -4px -4px 12px #ffffff;
}

.app h1 {
  text-align: center;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.4);
}

.app .todo-list-form {
  width: 95%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-list-form input {
  margin-right: 10px;
  font-size: 16px;
  border: 0;
  border-radius: 3px;
  padding: 8px 12px;
  width: 80%;
  background-color: #c9c9c904;
  box-shadow: 4px 4px 6px #c9c9c9,
  -4px -4px 6px #ffffff;
}

.todo-list-form input:focus {
  outline: none;
  box-shadow: inset 4px 4px 6px #c9c9c9,
  inset -4px -4px 6px #ffffff;
}

.todo-list-form button {
  font-size: 16px;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 3px;
  border: 0;
  box-shadow: 3px 3px 6px #c9c9c9,
  -3px -3px 6px #ffffff;
  transition: all .3s ease;
}

.todo-list-form button:hover, .todo-list-form button:focus {
  box-shadow: inset 3px 3px 6px #c9c9c9,
  inset -3px -3px 6px #ffffff;
}

.app .todo-list {
  height: 270px;
  overflow-y: scroll;
}

.app .todo-item:first-child {
  margin-top: 20px;
}

.app .todo-item {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 3px;
   box-shadow: 4px 4px 6px #c9c9c9,
   -4px -4px 6px #ffffff;
}

.todo-item p {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.todo-item div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-item div button:first-child {
  margin: 0 10px;
  color: blue;
}

.todo-item div button:last-child {
  color: red;
}

.todo-item div button {
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 3px;
  border: 0;
  box-shadow: 3px 3px 6px #c9c9c9,
  -3px -3px 6px #ffffff;
  transition: all .3s ease;
}

.todo-item div button:hover {
  transform: scale(1.1);
}

.todo-item div button:focus {
  box-shadow: inset 3px 3px 6px #c9c9c9,
  inset -3px -3px 6px #ffffff;
}
